body{
    width:100%;
    margin:0;
}

header{
    margin-top: 100px;
}

.photodiv{
    background-image: url('https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/b8f46419-eca3-44c1-8ba0-ed2ca89f8884.jpg');
    width:1350px;
    height: 350px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
}

.childhome{
    padding: 2px 0 0 20px;
    width:400px;
    height: 150px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
h1,h2,h3,h4,h5{
    font-family: sans-serif;
}

h3,h5{
    font-weight: normal;
}

nav{
    position: fixed;
    top:0;
    height: 70px;    
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}



nav div{
    display: block;
    width: 150px;
    height: 45px;
    text-align: center;
    text-decoration:none;
    color: black;
}

.pad{
    padding-top: 25px;
}


.form{
    border: 1px solid black;
    border-radius: 60px;
    padding-top: 12px;
    height: 35px;
    margin-top: 0;
    width: 700px;
    background-color:#f7f9fa ;
}
input[type="text"]{
    background-color: #f7f9fa;
    border: none;
    width: 80%;
    height: 20px;
    padding-right: 5%;
    font-size: 15px;
}


.main{
    width: 90%;
    margin: auto;
}

.mainchild{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0 0 30px;

}
.mainchild h3{
    display: block;
    width: 60%;
}


.mainchild button{
    display: block;
    height: 40px;
    width: 100px;
    padding: 0;
    margin-bottom: 20px;
    border-width: 1px;
    background-color: white;
}
.mainchild button:hover{
    background-color: rgba(220, 220,220,0.5);
}

.courses{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px;
}

.courses div{
    width: 250px;
}


h3.bold{
    font-weight: bold;
    width: 100%;
}


.search{
    color: rgb(200, 200,200);
}

button[type="submit"]{
    background-color:#f7f9fa ;
    border: none;
}


.cart,.lang{
    padding-bottom: 10px;
}

.notpad{
    padding-top: 10px;
    width: 100px;
}

.navbutton{
    font-weight: bold;
    font-family: sans-serif;
    display: block;
    width: 75px;
    height: 35px;
    background-color: white;
    color: black;
}

.black{
    background-color: black;
    color: white;
}

