body{
    width:100%;
    margin:0;
}


header,main{
    max-width: 2000px;
    margin: auto;
}

header{
    margin-top: 100px;
}

.photodiv{
    background-image:url('gray.jpg');
    width:90%;
    height: 350px;
    margin: 0 auto;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap:20%;
    flex:1;
}

.carticon{
    width: 25px;
    padding-top: 5%;
}

.photo{
    margin-top: 2%;
    width: 30%;
    height: 80%;
}

.photo img{
    width: 100%;
    height: 100%;
}

.childhome{ 
    padding: 2px 0 0 20px;
    margin-top: 50px;
    width:30em;
    height: 10em;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

h1,h2,h3,h4,h5{
    font-family: sans-serif;
}

h3,h5{
    font-weight: normal;
}

nav{
    position: fixed;
    top:0;
    height: 70px;    
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 10px;
}

.cart,.lang,.log,.cat{
    flex: 1;
}
.cat{
    margin-right: 10px;
}


nav div{
    flex:2;
    display: block;
    height: 45px;
    text-align: center;
    color: black;
}

nav a{
    text-decoration: none;
    color: black;
}

.pad{
    padding-top: 25px;
}


.form{
    border: 1px solid rgba(0, 0,0,0.6);
    border-radius: 60px;
    padding-top: 12px;
    height: 35px;
    margin-top: 0;
    flex: 10;
    background-color:#f7f9fa ;
}
input[type="text"]{
    background-color: #f7f9fa;
    border: none;
    width: 80%;
    height: 20px;
    padding-right: 5%;
    font-size: 15px;
}


.main{
    width: 90%;
    margin: auto;
}

.main a{
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding-right: 15px;
}

.main a:first-of-type{
    padding-left: 5px;
    font-weight: bold;
}

.mainchild{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0 0 30px;
    margin-top: 10px;

}
.mainchild h3{
    display: block;
    width: 60%;
}

button:hover{
    cursor:pointer;
}

p.light{
    display: inline;
    font-weight:100;
    color: rgba(0, 0,0,0.5);
}

.mainchild button{
    display: block;
    height: 40px;
    width: 100px;
    padding: 0;
    margin-bottom: 20px;
    border-width: 1px;
    background-color: white;
}
.mainchild button:hover{
    background-color: rgba(220, 220,220,0.5);
}

.courses{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px;
}

.courses span{
    color:goldenrod;
}

.courses div,.courses div img{
    width: 250px;
    min-width: 19%;
}


h3.bold{
    font-weight: bold;
    width: 100%;
}


.search{
    color: rgb(200, 200,200);
}

button[type="submit"]{
    background-color:#f7f9fa ;
    border: none;
}

.notpad{
    padding-top: 10px;
}

.navbutton{
    font-weight: bold;
    font-family: sans-serif;
    display: block;
    width: 75px;
    height: 35px;
    background-color: white;
    border: 1px solid rgba(0, 0,0,0.8);
    color: black;
}

.black{
    background-color: black;
    color: white;
}

.hidden{
    display: none;
}

.logo{
    height: 77%;
}

@media screen and (max-width:1500px){
    .seen1{
        display: none;
    }
    .courses div,.courses div img{
        width: 225px;
    }
    .photodiv{
        gap: 10%;
    }
}


@media screen and (max-width:1200px){
    .seen2{
        display: none;
    }
    .courses div,.courses div img{
        width: 275px;
    }
}
@media screen and (max-width:1000px){
    .photodiv{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        gap:0;
    }
    .seen{
        display: none;
    }
    .hidden{
        display: block;
    }
    nav{
        justify-content: center;
        padding-left: 0;
    }
    .cart{
        flex: 3;
    }
    .courses{
        flex-direction: column;
        align-content: center;
    }
    .courses div{
        border-bottom: 1px solid black;
    }
    .courses div:last-child{
        border: none;
    }

    .udemy{
        flex:15;
        padding-left: 15%;
    }

    .courses div,.courses div img{
        
        max-width: 275px;
    }
    .childhome{
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: unset;
    }
    .photo{
        width: 25%;
        min-width: 200px;
        height: 50%;
    }
}

